@mixin box-wapper() {
  overflow: hidden;

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 8%;
  padding-right: 8%;

}

html, body {
  padding: 0;
}

header {
  @include box-wapper();

  #contact-list {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;

    ul {
      column-count: 2;
      column-gap: 20px;
      -moz-column-count: 2;
      -moz-column-gap: 20px;
    }
  }
}

section {
  @include box-wapper();

  h2~* {
    @extend .row;
  }
}

#skill {
  /*div:nth-child(1):before {
    @extend .row;
  }

  div:nth-last-child(3) {
    @extend .large-5;
  }

  div:nth-last-child(-n+2) {
    @extend .large-2;
  }*/
}

footer {
  @include box-wapper();

  .col:nth-child(1):before {
    @extend .row;
  }

  .col {
    @extend .large-4;
    @extend .columns;
  }
}
