header {
  background-color: #FFEAE5;

  #contact-list {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2em;
  }
}

sectionLnth-child(even) {
  background-color: #FAFAFA;
}

section:nth-child(odd) {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  background-color: #EFEFEF;
}

#skill {
}

#join {
  #join-moztw {
    @extend .panel;
  }

  #join-ttrss {
    @extend .panel;
  }
}

footer {
  background-color: #4A4A4A; 
}
